.pic {
	
	width: 500px;
}

img {
	
width: 100%;
}


.likecount {
	text-align: center;
}


div.imgbox {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}

button.like{
    line-heigth: 50px;
    border-radius: 70%;
    background-color: green;
    border-color: rgba(0,150,136 ,1);
    border-width: 3px;
    font-size: 40px;
	float: left;
}

button.dislike{
    line-heigth: 50px;
    border-radius: 70%;
    background-color: red;
    border-color: rgba(255,82,82 ,1);
    border-width: 3px;
    font-size: 40px;
	float: right;
}