.dropdown-content {
    position: absolute;
	top: 100;
	right: 0;
	margin: 5px;
    background-color: white;
    height: fit-content;
    display: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.show{display: block;}

.input_box{
    display: block;
    margin: 20px auto;
    border: solid 3px #ccc;
    background: transparent;
    font-size: 1em;
    color: #ccc;
    width: 90%;
}

.button{
    line-height: 1.5em;
    font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
    cursor: pointer;
    color: #fff;
    background: #30464f;
    width: 50%;
    -webkit-appearance: button;
    transform: translateY(-50%);
}

.cancel {
	width: 25%;
	background: salmon;
	margin-left: 70px;
}

.dropdown-content{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

@media screen and (max-width:800px) {
	.input_box{
		margin: 50px auto;
	}
	
	.dropdown-content {
		top:0;
		left:0;
		width: 90vw;
		margin: 100px auto;
	}
}